[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transitions = "*"
pygraphviz = "*"
numpy = "*"
line-bot-sdk = "*"

[dev-packages]

[requires]
python_version = "3.8"
