[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transitions = "*"
pygraphviz = "*"
numpy = "*"
line-bot-sdk = "*"
Flask = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
requests = "*"
CairoSVG = "*"
pyimgur = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
